@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* utilisation dans tailwind: exemple pour color le text c'est text-(--text-color)*/
:root {
  --primary: #fcc600;
  --secondary: #564508;
  --text-dark: #020202;
  --title: #e6d300;
  --text-color: #fffcdd;
  --error: #e50000;
  --success: #0ec824;
  --shadow-main: linear-gradient(40deg, #020202 0%, #413d25 100%);
  --shadow-error: linear-gradient(40deg, #020202 0%, #412525 100%);
  --shadow-success: linear-gradient(40deg, #020202 0%, #103114 100%);
  --family-primary: "Orbitron", sans-serif;
  background: var(--shadow-main);
  font-family: var(--family-primary);
}
.test {
  background: var(--shadow-error);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#app {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
